html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
.body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


